.dui-menu {
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  color: $black;
  border-bottom: $menu-border-color solid $menu-border-width;

  .dui-menu-item {
    padding: 10px;
    flex: 1;
    text-align: center;
    position: relative;

    &::after {
      position: absolute;
      right: 20px;
      bottom: 0;
      left: 20px;
      border-bottom: $menu-item-active-border-width solid transparent;
      transition: border-color 0.3s ease-in-out;
      content: "";
    }

    &:hover {
      &::after {
        border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
      }

      cursor: pointer;
    }
  }

  .dui-menu-item-active {
    &::after {
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}

.dui-menu-horizontal {
  display: flex;
}
