


@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;    
  }
  &:focus,
  &.focus {
    outline: none;
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;    
  }
  &:disabled,
  &.disabled {
    color: lighten($color,50%);
    background: darken($background,20%);
    border-color: darken($border,8%);    
  }
}
@mixin button-size($btn-padding-y,$btn-padding-x,$btn-font-size,$btn-border-raduis){
  padding:$btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  border-radius: $btn-border-raduis;
}