.groove {
  width: 100%;
  height: 10px;
  background: #e1e1e1;
  border-radius: 5px;
  overflow: hidden;

  .progress {
    height: 100%;
    transition: $progress-bar-transition;
    border-radius: 5px;
    overflow: hidden;
  }
}

.circle-progress {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    vertical-align: middle;
  }

  .pie-bg {
    stroke: #e1e1e1;
    opacity: 0.3;
  }

  circle {
    stroke-dashoffset: 0;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: all 0.2s;
    stroke: currentcolor;
    z-index: 2;
  }

  span {
    position: absolute;
    font-size: 1em;
  }
}
