.groove {
  width: 100%;
  height: 10px;
  background: #e1e1e1;
  border-radius: 5px;
  overflow: hidden;

  .progress {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
  }
}

.circle-progress {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    position: absolute;
    font-size: 1em;
  }
}
