.dui-carousel-container,
.dui-carousel {
  width: 100%;
  display: flex;
  aspect-ratio: 2 / 1;
}

.dui-carousel-container {
  img {
    width: 100%;
    aspect-ratio: 2 / 1;
  }

  position: relative;
  transition: all 0.3s;
}

.dui-carousel-item {
  aspect-ratio: 2 / 1;
}

.dui-carousel {
  position: relative;
  overflow: hidden;
}

.dui-carousel-indicator {
  position: absolute;

  // background-color: red;
  display: flex !important;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);

  > span {
    margin: 0 5px;
    display: block;
    width: 16px;
    height: 3px;
    padding: 0;
    color: transparent;
    font-size: 0;
    background: #fff;
    border: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.5s;
  }

  .dui-carousel-indicator-active {
    width: 24px;
    opacity: 1;
  }
}

.dui-carousel-prev {
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  background: #fff;
  opacity: 0.5;
  color: black;
  font-size: 30px;
  padding: 10px 5px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.dui-carousel-next {
  user-select: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  background: #fff;
  opacity: 0.5;
  color: black;
  font-size: 30px;
  padding: 10px 5px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
