.dui-carousel-container,
.dui-carousel {
  width: 100%;
  display: flex;
  aspect-ratio: 2 / 1;
}

.dui-carousel-container {
  img {
    width: 100%;
    aspect-ratio: 2 / 1;
  }
}

.dui-carousel {
  position: relative;
  overflow: hidden;
}

.dui-carousel-indicator {
  position: absolute;

  // background-color: red;
  display: flex !important;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);

  > span {
    margin: 0 5px;
    display: block;
    width: 16px;
    height: 3px;
    padding: 0;
    color: transparent;
    font-size: 0;
    background: #fff;
    border: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.5s;
  }

  .dui-carousel-indicator-active {
    width: 24px;
    opacity: 1;
  }
}
